body {
    background-color: #FAFAF9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2.25rem;
    color: #18181B;
}

h2 {
    font-size: 1rem;
    color: #18181B;
}

.dis {
    font-size: 1.25rem;
    color: #52525A;
}

.card-dis {
    font-size: 0.875rem;
    color: #52525A;
}

.logo-con {

    display: inline;
}

.review-card {
    width: 35%;
    min-width: 250px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px;
    margin:  20px;

}

.stars-con {
    display: inline-block;
}

.logo {
    width: 80px;
    display: inline-block;
    padding-right: 5px;
}

.card-pics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-dis {
    max-width: 600px;
    min-width: 400px;
    margin: 5rem; /* Center the element horizontally */
    
}

ul {
    list-style-image: url('res/Done_ring_round_fill.svg');
  }

li {
    padding:0;    
}

.review-con {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

#card1 {
    margin-right: 40%;
}

#card2{
    margin-left: 40%;
}


@media (min-width: 1200px) {
    body {
        display: flex;
    }

    .review-con {
        width: 50%;
    }
    
    .page-dis {
        margin: auto;
        
    }
}